<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-sm-4">
                <h4 class="card-title">Simple Table</h4>
                <p class="card-category">Here is a subtitle for this table</p>
              </div>
              <div class="col-sm-8">
                <span class="pull-right">
                  <button
                    (click)="openDialog((i = 1))"
                    type="button"
                    class="btn btn-outline-primary"
                  >
                    <i class="fa fa-plus"></i></button
                ></span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Purchase Date</th>
                  <th>Amount</th>
                  <th>Photo</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Dakota Rice</td>
                    <td>Niger</td>
                    <td>Oud-Turnhout</td>
                    <td class="text-primary">$36,738</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Minerva Hooper</td>
                    <td>Curaçao</td>
                    <td>Sinaai-Waas</td>
                    <td class="text-primary">$23,789</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Sage Rodriguez</td>
                    <td>Netherlands</td>
                    <td>Baileux</td>
                    <td class="text-primary">$56,142</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Philip Chaney</td>
                    <td>Korea, South</td>
                    <td>Overland Park</td>
                    <td class="text-primary">$38,735</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Doris Greene</td>
                    <td>Malawi</td>
                    <td>Feldkirchen in Kärnten</td>
                    <td class="text-primary">$63,542</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>Mason Porter</td>
                    <td>Chile</td>
                    <td>Gloucester</td>
                    <td class="text-primary">$78,615</td>
                  </tr>

                  <tr>
                    <td>6</td>
                    <td>Mason Porter</td>
                    <td>Chile</td>
                    <td>Gloucester</td>
                    <td class="text-primary">$78,615</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>Mason Porter</td>
                    <td>Chile</td>
                    <td>Gloucester</td>
                    <td class="text-primary">$78,615</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>Mason Porter</td>
                    <td>Chile</td>
                    <td>Gloucester</td>
                    <td class="text-primary">$78,615</td>
                  </tr>
                  <!-- <td>
                    <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="openDialog(i)"></i>&nbsp;
                    <i class="fa fa-trash-o cursor-pointer" aria-hidden="true" (click)="openDeleteGoods(good.id)"></i>
                  </td> -->
                </tbody>
              </table>

              <div class="col-12">
                <div class="row">
                  <div class="col-6" style="margin-top: 20px">
                    <pagination
                      class="pagination-sm"
                      [(ngModel)]="page"
                      [totalItems]="length"
                      [itemsPerPage]="itemsPerPage"
                      [maxSize]="maxSize"
                      [boundaryLinks]="true"
                      [rotate]="false"
                      (pageChanged)="onChangeTable($event)"
                      (numPages)="numPages = $event"
                    >
                    </pagination>
                  </div>

                  <div class="col-6">
                    <pre class="float-right card-block card-header">
Page: {{ page }} / {{ numPages }}</pre
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
