<h2 mat-dialog-title>New Assets</h2>
<hr />
<mat-dialog-content class="mat-typography">
  <div class="Declaration_AddBox_body">
    <form class="form" [formGroup]="form">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              class="form-control required"
              formControlName="AssetName"
            />
            <validation-messages
              [control]="form.controls.AssetName"
            ></validation-messages>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Photo Url</label>
            <input
              type="text"
              formControlName="PhotoUrl"
              class="form-control required"
            />
            <validation-messages
              [control]="form.controls.PhotoUrl"
            ></validation-messages>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Category</label>
            <input
              type="text"
              #category
              class="form-control required"
              formControlName="CategoryCode"
              [matAutocomplete]="auto"
              (input)="_filter(category.value)"
              (focus)="_filter(category.value)"
              (click)="_filter(category.value)"
            />
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <i class="fa fa-search" style="color: rgb(86, 168, 186)"></i>
              </div>
            </span>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option
                *ngFor="let category of filteredOptions"
                [value]="category.name"
              >
                {{ category.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="form.controls.CategoryCode.errors?.requireMatch">
              <i class="fa fa-info-circle"></i> Invalid Entry. Choose a value
              from list.
            </mat-error>

            <validation-messages
              [control]="form.controls.CategoryCode"
            ></validation-messages>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label> Purchase Amount</label>
            <input
              type="text"
              formControlName="PurchaseAmount"
              class="form-control required"
            />
            <validation-messages
              [control]="form.controls.PurchaseAmount"
            ></validation-messages>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="Declaration_AddBox_footer text-center p-2 border-top">
    <button
      type="button"
      class="btn btn-outline-primary mx-2 px-3"
      (click)="doCancel()"
    >
      Cancel
    </button>

    <button
      (click)="doAction(form.valid)"
      type="button"
      class="btn btn-primary ml-1 btn-min-width mx-2 px-3"
      [disabled]="submitInProgress"
    >
      <span
        class="ft-refresh-cw icon-spin float-left"
        *ngIf="submitInProgress"
        aria-hidden="true"
      ></span>
      Submit
    </button>
  </div>
</mat-dialog-content>
