<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-sm-4">
                <h4 class="card-title">Assets Master</h4>
                <p class="card-category">Here you can add Assets,Modify</p>
              </div>
              <div class="col-sm-8">
                <span class="pull-right">
                  <button
                    (click)="openDialog(-1)"
                    type="button"
                    class="btn btn-outline-primary"
                  >
                    <i class="fa fa-plus"></i></button
                ></span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Purchase Date</th>
                  <th>Amount</th>
                  <th>Photo</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of AssetsItemList; let i = index">
                    <td>{{ item.id }}</td>
                    <td>
                      {{ item.name }}
                    </td>
                    <td>{{ item.purchase_Date | date: "short" }}</td>
                    <td>{{ item.amount }}</td>

                    <td><img src="{{ item.photoUrl }}" alt="IMG" /></td>
                    <td>
                      <mat-icon style="cursor: pointer" (click)="openDialog(i)"
                        >edit</mat-icon
                      >&nbsp;
                      <mat-icon
                        style="cursor: pointer"
                        (click)="openDeleteAssets(item.id)"
                        >delete</mat-icon
                      >&nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
              <span *ngIf="AssetsItemList && AssetsItemList.length == 0"
                ><b>No Terms and Assets List available.</b></span
              >
              <div class="col-12">
                <div class="row">
                  <div class="col-6" style="margin-top: 20px">
                    <pagination
                      class="pagination-sm"
                      [(ngModel)]="page"
                      [totalItems]="length"
                      [itemsPerPage]="itemsPerPage"
                      [maxSize]="maxSize"
                      [boundaryLinks]="true"
                      [rotate]="false"
                      (pageChanged)="onChangeTable($event)"
                      (numPages)="numPages = $event"
                    >
                    </pagination>
                  </div>

                  <div class="col-6">
                    <pre class="float-right card-block card-header">
Page: {{ page }} / {{ numPages }}</pre
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
